# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace
.trae

# Pycharm
.idea/

# System
.DS_Store

# Output
output*/

# Pretrained models
pretrained_models/
