# ARTrackV2 Core Dependencies (Excluded Torch/CUDA)
yacs
fvcore
easydict
einops
lmdb
loguru
opencv-python
pycocotools
tensorboardx
thop
visdom
wandb
jpeg4py
tikzplotlib
scikit-image
scikit-learn
pandas
scipy
matplotlib
pyyaml
tqdm
colorama
tabulate
attributee
jsonpatch